#from base import utils,config
#import cherrypy
#include "../templates/header.tmpl"


<h1>SessionLock</h1>

<ul>
<li> <a href="testpages/one">Test Pages</a>
<li> <a href="testpages/stress">Stress Page</a>
</ul>

#include "../templates/footer.tmpl"
